/**********************************************************************************************************************/
/* WeightPainterPanel                                                                                                 */
/**********************************************************************************************************************/

#WeightPainterPanel.BrushMode {
  height: 255px;
}

#WeightPainterPanel.SliderMode {
  height: 255px;
}

#WeightPainterPanel PopupWindow {
  width: 320px;
}

#WeightPainterPanel.BrushMode #Amount.form-row,
#WeightPainterPanel.BrushMode #SmoothButtonRow.form-row {
  display: none;
}

#SmoothButton,
#PruneButton {
    margin-left: 4px;
    margin-right: 4px;
}

#SmoothButtonRow {
    flex-direction: row;
}

#SmoothButton,
#PruneButton {
    width: 126px;
}

#WeightPainterPanel.SliderMode #Size.form-row,
#WeightPainterPanel.SliderMode #Strength.form-row,
#WeightPainterPanel.SliderMode #Feather.form-row {
  display: none;
}

#WeightsInspector{
    flex : 1;
    margin-left : 4px;
    margin-right : 4px;
}


 #divider{
    height : 2px;
    margin-top:5px;
    margin-bottom:5px;
    background-color: rgba(127,127,127,0.8);
    border-color: rgba(35,35,35,0.8);
}

 .Dark #divider{
   background-color: rgba(85,85,85,0.8);
   border-color: rgba(35,35,35,0.8);
}

.SliderMode #divider{
    height : 2px;
}
