/**********************************************************************************************************************/
/* WeightInspectorIMGUIPanel                                                                                                         */
/**********************************************************************************************************************/

#WeightInspectorIMGUIPanel {
  flex-direction: column;
  height: 120px;
}

#WeightInspectorIMGUIPanel IMGUIContainer {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
}
